ARCHS                               = $(ARCHS_STANDARD_32_BIT)
SDKROOT                             = iphoneos
STRIP_INSTALLED_PRODUCT             = YES
PREBINDING                          = NO
INFOPLIST_FILE                      = ../common/Info.plist
HEADER_SEARCH_PATHS                 = ../../api/inc
LIBRARY_SEARCH_PATHS                = ../../api/lib
GCC_DEBUGGING_SYMBOLS               = full
CODE_SIGN_IDENTITY[sdk=iphoneos*]   = iPhone Developer
IPHONEOS_DEPLOYMENT_TARGET          = 3.0
